/* responsive */
@media screen and (max-width: 768px) {
html {
        font-size: 14px;
    }
.flex-column {
        flex-direction: column;
    }
.span2 {
        grid-column: span 1;
    }
.grid4col {
        grid-template-columns: 1fr;
    }
header {
    & .container {
            max-width: 90%;
            padding: 0.5rem 0;
        }
    nav {
            position: static;
            
        }
    .logo {
            font-size: 2rem;
            font-weight: 900;
        }
    }
.skills-section {
        padding-bottom: 3rem;
    }
footer {
        padding: 2rem 0;
    }

.padding {
        padding: 3rem ;
    }

    /* toggle */

    .nav-links {
        display: none;
         li a {
            margin: 2rem 0;
            font-size: 1.2rem;
        }
    }

    .logo,
    .bar {
        position: relative;
        z-index: 999;
    }

    header nav .bar { 
        display: inline-block;
        position: relative;
        bottom: 5px;
        color: $accent-color;
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    input:checked ~ .nav-links {
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 10rem;
        left: 0;
        right: 0;
        background-color: alpha($hero-bg, 0.1);
        z-index: 111;
        padding-top: 8rem;
        border-radius: 0 0 5px 5px;
        text-align: center;
    }

    input:checked ~ label .fa::before {
        content: '\f00d';
    }
}
